# Testing
pytest==9.0.2
pytest-django==4.12.0
beautifulsoup4==4.13.4
factory-boy==3.3.3

# Architecture linting
import-linter==2.11
grimp==3.14

# Type checking
mypy==1.15.0
django-stubs==5.2.9
django-stubs-ext==5.2.9

# Enhanced debugger
pdbpp==0.12.1

# Interactive shell
ipython==9.11.0

# Type stubs
celery-types==0.26.0
types-PyYAML==6.0.12.20250915
